@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Activities.Expressions
@using UCommerce.EntitiesV2
@using UCommerce.Api

@{
    var featuredProducts = CurrentPage.GetPropertyValue("featuredProducts");
    var catalog = CatalogLibrary.GetCatalog();

    var products = new List<Product>();
    if (!string.IsNullOrEmpty(featuredProducts))
    {
        var items = featuredProducts.Split(',');
        foreach (var item in items)
        {
            var prod = CatalogLibrary.GetProduct(Convert.ToInt32(item));
            if (prod != null)
            {
                products.Add(prod);
            }
        }
    }
}

@if (!string.IsNullOrWhiteSpace(featuredProducts))
{
    <h2 class="major"><span>Related Products</span></h2>
}
@foreach (var prod in products)
{
    var price = prod.PriceGroupPrices.FirstOrDefault().Price != null ? prod.PriceGroupPrices.FirstOrDefault().Price.Value.ToString("C") : "Unavailable";

    <div class="smallProductContainer">
        <div class="smallProductImage">
            <a href="/product-detail-page/?sku=@prod.Sku">
                <img alt="Product Image" src="@Umbraco.Media(prod.PrimaryImageMediaId).NiceUrl()" class="smallProductImage" />
            </a>
        </div>
        <div>
            <div class="smallProductPrice">@price</div>
            <h3 class="smallProductTitle"><a href="/product-detail-page/?sku=@prod.Sku">@prod.Name</a></h3>
        </div>
        <div class="btn btn-defualt btn-lg btn-block" onclick="addSku('@prod.Sku')">Add to Cart</div>
    </div>
}