@inherits Umbraco.Web.Macros.PartialViewMacroPage
<div>
    <div class="form-group">
        <label for="txtEmailAddress">Email Address:</label>
        <input type="text" class="form-control" id="txtEmailAddress" placeholder="" />
    </div>
    <div class="form-group">
        <label for="txtPassword">Password:</label>
        <input type="password" class="form-control" id="txtPassword" placeholder="" />
    </div>
    <div class="form-group">
        <a href="#" class="btn btn-success" onclick="Login()">Login</a>
    </div>
</div>