@using UCommerce.Api
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
}
<script>
    jQuery("#shoppingcart").ready(function () {
        getBasket();
    });
</script>

<table class="table table-striped" id="shoppingcart">
    <thead>
        <tr>
            <td>Qty.</td>
            <td>Item</td>
            <td>Price</td>
            <td>Line Total</td>
            <td>Remove</td>
        </tr>
    </thead>

    <tbody id="lineitems"></tbody>
    <tfoot>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><b>Subtotal:</b></td>
            <td><span id="subtotal"></span></td>
            <td><a href="#" class="btn btn-default" onclick="clearCart()">Clear Cart</a></td>
        </tr>
    </tfoot>
</table>

<script id="cart-line" type="text/x-handlebars-template">
    {{#each basket}}
    <tr>
        <td>{{qty}}</td>
        <td>{{name}}</td>
        <td>${{price}}</td>
        <td>${{linetotal}}</td>
        <td>
            <a href="#" class="btn btn-default" onclick="removeCartItem('{{lineid}}')">Remove</a>
        </td>
    </tr>
    {{/each}}
</script>