<!--
	Settings for uCommerce components.
-->
<configuration>
  <components>

    <!-- Settings -->
    <!-- Do not change any of these values directly. This file WILL be overridden during install. Instead override values using partial components. -->
    <component
      id="PriceCalculationSettings"
      service="UCommerce.Settings.PriceCalculationSettings, UCommerce"
      type="UCommerce.Settings.PriceCalculationSettings, UCommerce">
      <parameters>
        <NumberOfDigitsPrecision>2</NumberOfDigitsPrecision>
      </parameters>
    </component>

  </components>
</configuration>