<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT Applicationpage ANY>
<!ATTLIST Applicationpage id ID #REQUIRED>
<!ELEMENT umbHomePage ANY>
<!ATTLIST umbHomePage id ID #REQUIRED>
<!ELEMENT umbMaster ANY>
<!ATTLIST umbMaster id ID #REQUIRED>
<!ELEMENT umbNewsItem ANY>
<!ATTLIST umbNewsItem id ID #REQUIRED>
<!ELEMENT umbNewsOverview ANY>
<!ATTLIST umbNewsOverview id ID #REQUIRED>
<!ELEMENT umbTextPage ANY>
<!ATTLIST umbTextPage id ID #REQUIRED>

]>
<root id="-1">
  <umbHomePage id="1056" key="25302e47-01ee-4b29-83cf-f9cc96e64052" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-10-01T15:17:32" updateDate="2016-10-01T15:32:41" nodeName="Hamazon" urlName="hamazon" path="-1,1056" isDoc="" nodeType="1052" creatorName="James McKee" writerName="James McKee" writerID="0" template="1047" nodeTypeAlias="umbHomePage">
    <umbracoNaviHide>0</umbracoNaviHide>
    <title><![CDATA[Hamazon.com ]]></title>
    <twitterLink><![CDATA[http://twitter.com/Hamazon]]></twitterLink>
    <facebookLink><![CDATA[http://facebook.com/Hamazon]]></facebookLink>
    <googleLink><![CDATA[https://google.com/+Hamazon]]></googleLink>
    <bannerBackgroundImage><![CDATA[/media/1001/105-108.jpg]]></bannerBackgroundImage>
    <hideBanner>0</hideBanner>
    <bannerHeader><![CDATA[Buy More HAM]]></bannerHeader>
    <bannerSubheader><![CDATA[We sell only the tastiest and finest meats.]]></bannerSubheader>
    <aboutText><![CDATA[<p>This is <a href="http://html5up.net/txt/">TXT</a>, a free site template designed by <a href="http://n33.co">n33</a> for <a href="http://html5up.net/">HTML5 UP</a>. It's built on the <a href="http://skeljs.org">skelJS</a> framework, uses well-thought out HTML5 and CSS3, and is fully responsive making it a great starting point for your own projects. And, like everything else we make, it's also free to use for pretty much any personal or commercial work under the <a href="http://html5up.net/license/">Creative Commons Attribution</a> license, so go ahead and use it – just don't forget to credit us!</p>]]></aboutText>
    <aboutTitle><![CDATA[What's this about?]]></aboutTitle>
    <siteName><![CDATA[Hamazon]]></siteName>
    <byline><![CDATA[The internets most swine centric store]]></byline>
    <copyright><![CDATA[(c) Punk-Coder... ]]></copyright>
    <umbTextPage id="1057" key="d2f111ad-e96e-45eb-8cc1-41135953199d" parentID="1056" level="2" creatorID="0" sortOrder="0" createDate="2016-10-01T15:17:32" updateDate="2016-10-14T10:02:43" nodeName="Bacon" urlName="bacon" path="-1,1056,1057" isDoc="" nodeType="1055" creatorName="James McKee" writerName="James McKee" writerID="0" template="1050" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[BACON!!!]]></title>
      <featuredProducts><![CDATA[105,106,108]]></featuredProducts>
      <bodyText><![CDATA[<p>Bacon is a meat product prepared from pork and usually cured. It is first cured using large quantities of salt, either in a brine or in a dry packing; the result is fresh bacon (also known as green bacon). Fresh bacon may then be further dried for weeks or months in cold air, or it may be boiled or smoked. Fresh and dried bacon is typically cooked before eating, often by frying. Boiled bacon is ready to eat, as is some smoked bacon, but may be cooked further before eating.</p>
<p>Bacon is prepared from several different cuts of meat. It is usually made from side and back cuts of pork, except in the United States and Canada, where it is most commonly prepared from pork belly (typically referred to as "streaky", "fatty", or "American style" outside of the US and Canada). The side cut has more meat and less fat than the belly. Bacon may be prepared from either of two distinct back cuts: fatback, which is almost pure fat, and pork loin, which is very lean. Bacon-cured pork loin is known as back bacon.</p>
<p>Bacon may be eaten smoked, boiled, fried, baked, or grilled and eaten on its own, as a side dish (particularly in breakfasts in North America) or used as a minor ingredient to flavour dishes (e.g., the Club sandwich). Bacon is also used for barding and larding roasts, especially game, including venison and pheasant. The word is derived from the Old High German bacho, meaning "buttock", "ham" or "side of bacon", and cognate with the Old French bacon.</p>
<p>In contrast to the practice in the United States, in continental Europe these cuts of the pig are usually not smoked, but are instead used primarily in cubes (lardons) as a cooking ingredient, valued both as a source of fat and for its flavour. In Italy, this product is called pancetta and is usually cooked in small cubes or thinly sliced as part of an antipasto.</p>
<p>Meat from other animals, such as beef, lamb, chicken, goat, or turkey, may also be cut, cured, or otherwise prepared to resemble bacon, and may even be referred to as "bacon". Such use is common in areas with significant Jewish and Muslim populations, both of which prohibit the consumption of pigs. The USDA defines bacon as "the cured belly of a swine carcass"; other cuts and characteristics must be separately qualified (e.g., "smoked pork loin bacon"). For safety, bacon may be treated to prevent trichinosis, caused by Trichinella, a parasitic roundworm which can be destroyed by heating, freezing, drying, or smoking.</p>
<p>Bacon is distinguished from salt pork and ham by differences in the brine (or dry packing). Bacon brine has added curing ingredients, most notably sodium nitrite, and occasionally potassium nitrate (saltpeter); sodium ascorbate or erythorbate are added to accelerate curing and stabilise colour. Flavourings such as brown sugar or maple are used for some products. Sodium polyphosphates, such as sodium triphosphate, may be added to make the produce easier to slice and to reduce spattering when the bacon is pan-fried. Today, a brine for ham, but not bacon, includes a large amount of sugar. Historically, "ham" and "bacon" referred to different cuts of meat that were brined or packed identically, often together in the same barrel.</p>]]></bodyText>
      <image><![CDATA[/media/1002/is-anything-better-than-baconno_.jpg]]></image>
      <featuredPage>1</featuredPage>
    </umbTextPage>
    <umbTextPage id="1058" key="43258f22-7df4-4173-83d2-3ab194e0eab4" parentID="1056" level="2" creatorID="0" sortOrder="1" createDate="2016-10-01T15:17:32" updateDate="2016-10-01T17:18:21" nodeName="Ham" urlName="ham" path="-1,1056,1058" isDoc="" nodeType="1055" creatorName="James McKee" writerName="James McKee" writerID="0" template="1050" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<p>Ham is pork that has been preserved through salting, smoking, or wet curing. It was traditionally made only from the hind leg of swine, and referred to that specific cut of pork. Ham is made around the world, including a number of highly coveted regional specialties, such as Westphalian ham and Jamón serrano. Technically a processed meat, "ham" may refer to a product which has been through mechanical re-forming.</p>
<p>The precise nature of meat termed "ham" is controlled in a number of areas, often by statute, including the United States and European Union. In addition, numerous ham products have specific geographical naming protection, such as Prosciutto di Parma and Prosciutto Toscano PDO in Europe, and Smithfield ham in the US.<br />The preserving of pork leg as ham has a long history, with Cato the Elder writing about the "salting of hams" in his De Agri Cultura tome around 160 BC.</p>
<p>There are claims that the Chinese were the first people to mention the production of cured ham, whilst Larousse Gastronomique claims an origin from Gaul, but it was certainly well established by the Roman period, including an import trade from Gaul mentioned by Marcus Terentius Varro in his writings.</p>
<p>The modern word "ham" is derived from the Old English ham or hom meaning the hollow or bend of the knee, from a Germanic base where it meant "crooked". It began to refer to the cut of pork derived from the hind leg of a swine around the 15th century. Preservation methods include curing, smoking, and salting.</p>
<p>Because of the preservation process, ham is a compound foodstuff or ingredient, being made up of the original meat, as well as the remnants of the preserving agent(s), such as salt, but it is still recognised as a food in its own right.</p>]]></bodyText>
      <image><![CDATA[/media/1003/20121225-175606.jpg]]></image>
      <featuredPage>1</featuredPage>
    </umbTextPage>
    <umbTextPage id="1059" key="d2d6d319-c78e-4d00-af1e-dc241bbfa2f1" parentID="1056" level="2" creatorID="0" sortOrder="2" createDate="2016-10-01T15:17:32" updateDate="2016-10-01T17:20:10" nodeName="Prosciutto" urlName="prosciutto" path="-1,1056,1059" isDoc="" nodeType="1055" creatorName="James McKee" writerName="James McKee" writerID="0" template="1050" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[prosciutto]]></title>
      <bodyText><![CDATA[<p>Prosciutto (/prəˈʃuːtoʊ/, Italian: [proʃˈʃutto], Italian ham) is an Italian dry-cured ham that is usually thinly sliced and served uncooked; this style is called prosciutto crudo in Italian (or simply crudo) and is distinguished from cooked ham, prosciutto cotto.</p>
<p>Commonly associated with Friuli and Emilia, the most renowned and expensive legs of prosciutto come from central and north-eastern Italy.</p>
<p>Prosciutto is made from either a pig's or a wild boar's ham (hind leg or thigh), and the base term prosciutto specifically refers to this product. Prosciutto may also be made using the hind leg of other animals, in which case the name of the animal is included in the name of the product, for example "prosciutto cotto d'agnello" ("lamb prosciutto"). The process of making prosciutto can take from nine months to two years, depending on the size of the ham.</p>
<p>A writer on Italian food, Bill Buford, describes talking to an old Italian butcher who says:</p>
<p>When I was young, there was one kind of prosciutto. It was made in the winter, by hand, and aged for two years. It was sweet when you smelled it. A profound perfume. Unmistakable. To age a prosciutto is a subtle business. If it's too warm, the aging process never begins. The meat spoils. If it's too dry, the meat is ruined. It needs to be damp but cool. The summer is too hot. In the winter—that's when you make salumi. Your prosciutto. Your soppressata. Your sausages.</p>
<p>Today, the ham is first cleaned, salted, and left for about two months. During this time, the ham is pressed, gradually and carefully so as to avoid breaking the bone, to drain all blood left in the meat. Next, it is washed several times to remove the salt, and is hung in a dark, well-ventilated environment. The surrounding air is important to the final quality of the ham; the best results are obtained in a cold climate. The ham is then left until dry. The time this takes varies, depending on the local climate and size of the ham. When the ham is completely dry, it is hung to air, either at room temperature or in a controlled environment, for up to 18 months.</p>
<p>Prosciutto is sometimes cured with nitrites (either sodium or potassium), which are generally used in other hams to produce the desired rosy color and unique flavor, but only sea salt is used in Protected Designation of Origin hams. Such rosy pigmentation is produced by a direct chemical reaction of nitric oxide with myoglobin to form nitrosomyoglobin, followed by concentration of the pigments due to drying. Bacteria convert the added nitrite or nitrate to nitric oxide.</p>]]></bodyText>
      <image><![CDATA[/media/1004/prosciutto3.jpg]]></image>
      <featuredPage>1</featuredPage>
    </umbTextPage>
    <umbTextPage id="1066" key="2a729fae-2615-471e-a010-e94156f68abf" parentID="1056" level="2" creatorID="0" sortOrder="3" createDate="2016-10-01T15:34:08" updateDate="2016-10-01T17:20:57" nodeName="Sausage" urlName="sausage" path="-1,1056,1066" isDoc="" nodeType="1055" creatorName="James McKee" writerName="James McKee" writerID="0" template="1050" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Fine Pork Sausage]]></title>
      <bodyText><![CDATA[<p>A sausage is a food usually made from ground meat, often pork, beef or veal, along with salt, spices and breadcrumbs, with a skin around it. Typically, a sausage is formed in a casing traditionally made from intestine, but sometimes synthetic. Sausages that are sold uncooked are cooked in many ways, including pan-frying, broiling and barbecuing. Some sausages are cooked during processing and the casing may then be removed.</p>
<p>Sausage making is a traditional food preservation technique. Sausages may be preserved by curing, drying (often in association with fermentation or culturing, which can contribute to preservation), smoking or freezing.</p>
<p>There is a huge range of national and regional varieties of sausages, which differ by their flavouring or spicing ingredients, the meat(s) used in them and their manner of preparation.</p>
<p>Sausage making is an outcome of efficient butchery. Traditionally, sausage makers would salt various tissues and organs such as scraps, organ meats, blood, and fat to help preserve them. They would then stuff them into tubular casings made from the cleaned intestines of the animal, producing the characteristic cylindrical shape. Hence, sausages, puddings, and salami are among the oldest of prepared foods, whether cooked and eaten immediately or dried to varying degrees.</p>
<p>Early humans made the first sausages by stuffing roasted intestines into stomachs. The Greek poet Homer mentioned a kind of blood sausage in the Odyssey, Epicharmus wrote a comedy titled The Sausage, and Aristophanes' play The Knights is about a sausage vendor who is elected leader. Evidence suggests that sausages were already popular both among the ancient Greeks and Romans, and most likely with the various tribes occupying the larger part of Europe.</p>
<p>The most famous sausage in ancient Italy was from Lucania (modern Basilicata) and was called lucanica, a name which lives on in a variety of modern sausages in the Mediterranean.[citation needed] During the reign of the Roman emperor Nero, sausages were associated with the Lupercalia festival. Early in the 10th century during the Byzantine Empire, Leo VI the Wise outlawed the production of blood sausages following cases of food poisoning.</p>
<p>The word sausage is derived from Old French saussiche, from the Latin word salsus meaning "salted".</p>]]></bodyText>
      <image><![CDATA[/media/1005/johns-downham-market-pork-cooked.jpg]]></image>
      <featuredPage>1</featuredPage>
    </umbTextPage>
    <umbTextPage id="1067" key="ff82235e-dfb5-44c7-8730-48f3d3946229" parentID="1056" level="2" creatorID="0" sortOrder="4" createDate="2016-10-01T15:46:05" updateDate="2016-10-01T17:24:14" nodeName="Ribs" urlName="ribs" path="-1,1056,1067" isDoc="" nodeType="1055" creatorName="James McKee" writerName="James McKee" writerID="0" template="1050" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Ribs]]></title>
      <bodyText><![CDATA[<p>The rib cage is an arrangement of bones in the thorax of all vertebrates except the lamprey and the frog. It is formed by the vertebral column, ribs, and sternum and encloses the heart and lungs. In humans, the rib cage, also known as the thoracic cage, is a bony and cartilaginous structure which surrounds the thoracic cavity and supports the pectoral girdle (shoulder girdle), forming a core portion of the human skeleton. A typical human rib cage consists of 24 ribs, the sternum (with xiphoid process), costal cartilages, and the 12 thoracic vertebrae. Together with the skin and associated fascia and muscles, the rib cage makes up the thoracic wall and provides attachments for the muscles of the neck, thorax, upper abdomen, and back.</p>
<p>Ribs of pork, beef, lamb, and venison are a cut of meat. The term ribs usually refers to the less meaty part of the chops, often cooked as a slab (not cut into separate ribs). Ribs of bison, goat, ostrich, crocodile, alligator, llama, alpaca, beefalo, African buffalo, water buffalo, kangaroo, and other animals are also consumed in various parts of the world.</p>
<p>They can be roasted, grilled, fried, baked, braised, or smoked.</p>
<p>A set of ribs served together (5 or more), is known as a rack (as in a rack of ribs).</p>
<p>In American cuisine, ribs usually refers to barbecue pork ribs, or sometimes beef ribs, which are served with various barbecue sauces. They are served as a rack of meat which diners customarily tear apart by hand, then eat the meat from the bone. Slow roasting or barbecuing for as much as 10–12 hours creates a tender finished product.</p>]]></bodyText>
      <image><![CDATA[/media/1008/fnm_060114-smoked-baby-back-ribs-recipe_s4x3jpgrendsniipadlarge.jpeg]]></image>
      <featuredPage>0</featuredPage>
    </umbTextPage>
    <umbTextPage id="1060" key="dc349534-7a64-4e9b-b0d1-8c498223a848" parentID="1056" level="2" creatorID="0" sortOrder="5" createDate="2016-10-01T15:17:32" updateDate="2016-10-01T17:55:37" nodeName="About" urlName="about" path="-1,1056,1060" isDoc="" nodeType="1055" creatorName="James McKee" writerName="James McKee" writerID="0" template="1050" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<p>The Txt Starter Kit gives you a small website that introduces you to a set of well-defined conventions for building an Umbraco website.</p>
<p>Now that you know what the Txt Starter Kit is, it is time to get started using Umbraco.</p>]]></bodyText>
      <image><![CDATA[/media/1009/creepy-email.jpg]]></image>
      <featuredPage>0</featuredPage>
    </umbTextPage>
    <umbNewsOverview id="1061" key="6839d88d-33bf-4367-b642-14bafc463899" parentID="1056" level="2" creatorID="0" sortOrder="6" createDate="2016-10-01T15:17:32" updateDate="2016-10-01T15:46:18" nodeName="News" urlName="news" path="-1,1056,1061" isDoc="" nodeType="1054" creatorName="James McKee" writerName="James McKee" writerID="0" template="1049" nodeTypeAlias="umbNewsOverview">
      <umbracoNaviHide>1</umbracoNaviHide>
      <title><![CDATA[Adventure log]]></title>
      <umbNewsItem id="1062" key="76a8d00b-0829-4959-9068-d0a11f67ac0c" parentID="1061" level="3" creatorID="0" sortOrder="0" createDate="2016-10-01T15:17:32" updateDate="2016-10-01T15:17:33" nodeName="The 10 remarkable features of object" urlName="the-10-remarkable-features-of-object" path="-1,1056,1061,1062" isDoc="" nodeType="1053" creatorName="James McKee" writerName="James McKee" writerID="0" template="1048" nodeTypeAlias="umbNewsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p>Ita prorsus, inquam; Hanc ergo intuens debet institutum illud quasi signum absolvere. Ergo adhuc, quantum equidem intellego, causa non videtur fuisse mutandi nominis. Quia dolori non voluptas contraria est, sed doloris privatio. Nos autem non solum beatae vitae istam esse oblectationem videmus, sed etiam levamentum miseriarum. Quodsi ipsam honestatem undique pertectam atque absolutam. Nos cum te, M. Quod vestri non item.</p>
<p>Cum id quoque, ut cupiebat, audivisset, evelli iussit eam, qua erat transfixus, hastam. Quarum ambarum rerum cum medicinam pollicetur, luxuriae licentiam pollicetur. Quid iudicant sensus? Quo tandem modo?</p>]]></bodyText>
      </umbNewsItem>
      <umbNewsItem id="1063" key="75e46dba-3cdb-4b26-8c74-217b66b61fa7" parentID="1061" level="3" creatorID="0" sortOrder="1" createDate="2016-10-01T15:17:32" updateDate="2016-10-01T15:17:33" nodeName="This is a wonderful news item" urlName="this-is-a-wonderful-news-item" path="-1,1056,1061,1063" isDoc="" nodeType="1053" creatorName="James McKee" writerName="James McKee" writerID="0" template="1048" nodeTypeAlias="umbNewsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commoda autem et incommoda in eo genere sunt, quae praeposita et reiecta diximus; Bestiarum vero nullum iudicium puto. Est enim effectrix multarum et magnarum voluptatum. Duo Reges: constructio interrete. Claudii libidini, qui tum erat summo ne imperio, dederetur. Quarum ambarum rerum cum medicinam pollicetur, luxuriae licentiam pollicetur. Sed virtutem ipsam inchoavit, nihil amplius.</p>
<p>Ita redarguitur ipse a sese, convincunturque scripta eius probitate ipsius ac moribus. Istam voluptatem, inquit, Epicurus ignorat? Sed venio ad inconstantiae crimen, ne saepius dicas me aberrare; Sic, et quidem diligentius saepiusque ista loquemur inter nos agemusque communiter. Primum in nostrane potestate est, quid meminerimus? Consequens enim est et post oritur, ut dixi. Hoc mihi cum tuo fratre convenit. Immo videri fortasse. Itaque in rebus minime obscuris non multus est apud eos disserendi labor. Aliud igitur esse censet gaudere, aliud non dolere.</p>]]></bodyText>
      </umbNewsItem>
      <umbNewsItem id="1064" key="0c961f0c-7862-4196-a52a-37e690e84ace" parentID="1061" level="3" creatorID="0" sortOrder="2" createDate="2016-10-01T15:17:32" updateDate="2016-10-01T15:17:33" nodeName="You really need to read this!" urlName="you-really-need-to-read-this" path="-1,1056,1061,1064" isDoc="" nodeType="1053" creatorName="James McKee" writerName="James McKee" writerID="0" template="1048" nodeTypeAlias="umbNewsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <bodyText><![CDATA[<p><span>Ut aliquid scire se gaudeant? Hanc ergo intuens debet institutum illud quasi signum absolvere. Vestri haec verecundius, illi fortasse constantius. Itaque sensibus rationem adiunxit et ratione effecta sensus non reliquit. Sed ea mala virtuti magnitudine obruebantur. Quasi ego id curem, quid ille aiat aut neget. Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt; Apparet statim, quae sint officia, quae actiones.</span></p>
<p><span><span>Virtutibus igitur rectissime mihi videris et ad consuetudinem nostrae orationis vitia posuisse contraria. Nonne videmus quanta perturbatio rerum omnium consequatur, quanta confusio? Sed eum qui audiebant, quoad poterant, defendebant sententiam suam. Ut necesse sit omnium rerum, quae natura vigeant, similem esse finem, non eundem.</span></span></p>]]></bodyText>
      </umbNewsItem>
      <umbNewsItem id="1065" key="7d1eb427-daed-49c2-bcc7-6c2693ddb355" parentID="1061" level="3" creatorID="0" sortOrder="3" createDate="2016-10-01T15:17:32" updateDate="2016-10-01T15:17:33" nodeName="Txt Starter Kit For Umbraco Released" urlName="txt-starter-kit-for-umbraco-released" path="-1,1056,1061,1065" isDoc="" nodeType="1053" creatorName="James McKee" writerName="James McKee" writerID="0" template="1048" nodeTypeAlias="umbNewsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <publishDate>2021-09-20T00:00:00</publishDate>
        <subheader><![CDATA[In all it's MVC Views goodness]]></subheader>
        <image><![CDATA[/media/SampleImages/1077/pic05.jpg]]></image>
        <bodyText><![CDATA[<p><span>Sed ad haec, nisi molestum est, habeo quae velim. Neque enim disputari sine reprehensione nec cum iracundia aut pertinacia recte disputari potest. Nec vero alia sunt quaerenda contra Carneadeam illam sententiam. Deinde disputat, quod cuiusque generis animantium statui deceat extremum. Facit igitur Lucius noster prudenter, qui audire de summo bono potissimum velit; Quis non odit sordidos, vanos, leves, futtiles?</span></p>
<p><span><span>Negat enim summo bono afferre incrementum diem. Haec mihi videtur delicatior, ut ita dicam, molliorque ratio, quam virtutis vis gravitasque postulat. Haec quo modo conveniant, non sane intellego. Quis enim confidit semper sibi illud stabile et firmum permansurum, quod fragile et caducum sit? Multoque hoc melius nos veriusque quam Stoici. Igitur neque stultorum quisquam beatus neque sapientium non beatus. De hominibus dici non necesse est. Non enim iam stirpis bonum quaeret, sed animalis. Nobis Heracleotes ille Dionysius flagitiose descivisse videtur a Stoicis propter oculorum dolorem. At, illa, ut vobis placet, partem quandam tuetur, reliquam deserit.</span></span></p>]]></bodyText>
      </umbNewsItem>
    </umbNewsOverview>
    <Applicationpage id="2078" key="4366d27c-80cc-4a67-8564-22332b1cb164" parentID="1056" level="2" creatorID="0" sortOrder="7" createDate="2016-10-21T23:20:30" updateDate="2016-10-21T23:33:17" nodeName="Cart" urlName="cart" path="-1,1056,2078" isDoc="" nodeType="2073" creatorName="James McKee" writerName="James McKee" writerID="0" template="2072" nodeTypeAlias="Applicationpage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Cart]]></title>
      <pageContent><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "controls": [
                {
                  "value": "Shopping Cart",
                  "editor": {
                    "alias": "headline"
                  }
                }
              ]
            }
          ],
          "id": "45b46ae1-bd43-6368-18cd-6773a38403cc"
        },
        {
          "name": "Centered",
          "areas": [
            {
              "grid": 2,
              "controls": []
            },
            {
              "grid": 8,
              "controls": [
                {
                  "value": {
                    "macroAlias": "umbShoppingCart",
                    "macroParamsDictionary": {}
                  },
                  "editor": {
                    "alias": "macro"
                  }
                }
              ]
            },
            {
              "grid": 2,
              "controls": []
            }
          ],
          "id": "4294a7b2-2c54-4ab3-cdfd-7290a6a51f62"
        }
      ]
    }
  ]
}]]></pageContent>
    </Applicationpage>
  </umbHomePage>
</root>